.moscow_metro_map {
    cursor: -webkit-grab;
    cursor: grab;
    transition: opacity .5s;
    font-size: .7em
}

.moscow_metro_map.drag {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.moscow_metro_map__station {
    position: relative;
    display: block;
    cursor: pointer
}

.moscow_metro_map__substrate {
    fill: #fff9
}

.moscow_metro_map__area {
    fill: #fff0
}

.moscow_metro_map__station text {
    color: #333
}

.selected .moscow_metro_map__substrate {
    fill: #ffcd1e80
}

.map_metro_map__check {
    transition: .9s;
    opacity: 0.7;
}

.map-container {
    width: -webkit-fill-available;
    height: 90vh;
}
